:root {
/*****************/
/*       STYLES        */
/*****************/

  /**  Background  **/
  --bgImg: url(/themes/bright/images/background.jpg);

 /**  Cover  **/
  --coverImg: auto;
  --coverHeight: auto;
  --coverDxDy: auto;

  /**  Page  **/
  --pageTrueBG: url(/images/bg-dark.jpg);
  --pageTransBG: transparent;
  --BGOpacity: 0;

  /**  Watermark  **/
     /* SVG prefereable, otherwise png (in INDEX COLOR MODE) */
  --watermarkIMG: none;
  --watermarkColor: 0;
  --watermarkSize: 40%;
  --watermarkRepeat: no-repeat;
  --watermarkPos: auto;

  /**  Rough Photo Edge  **/
     /* upload png (in INDEX COLOR MODE) to imgur, get link from source code (starts with i.imgur.com) */
  --photoMaskImg: none;
  --photoMaskSize: auto;
  --photoMaskPos: auto;

  /**  Decorative Border  **/
  --borderStyle: none; /*(double or none)*/
  --borderImg: none;
  --borderSlice: none;
  --borderSize: 0;
  --borderOffset: 0;
  --SliceFill: auto;

/*****************/
/*   ANIMATION    */
/*****************/
  --pageFadeInTime: 1s;

}



/*****************/
/*       STYLES        */
/*****************/

.user-css-presentation {
  /* Site Background */
  background:  var(--bgImg);
  background-repeat: no-repeat;
  background-size:  cover;
  background-attachment: fixed;
}

#cover img {
  /* Cover Image */
  content: var(--coverImg) ;

  /* Scale and Crop*/
  object-fit: cover;
  width: 100%;

  height: var(--coverHeight);
  object-position: var(--coverDxDy);
}

.page {
  /* Remove BG  */
  background: var(--pageTrueBG);
}

.page::after {
  /* Transparent Background Hack */
  background: var(--pageTransBG);
  opacity: var(--BGOpacity);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%
}

.page-article::before {
  /* Watermark Hack */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Mask Settings */
  -webkit-mask: var(--watermarkIMG);
  mask: var(--watermarkIMG);
  background-color: var(--watermarkColor);
  -webkit-mask-size: var(--watermarkSize);
  -webkit-mask-repeat: var(--watermarkRepeat);
  -webkit-mask-position: var(--watermarkPos);
}

.m-b-20 div a img {
  /* Rough Photo Edge  */
  -webkit-mask-image: var(--photoMaskImg);
  -webkit-mask-size: var(--photoMaskSize);
  -webkit-mask-position: var(--photoMaskPos);
  -webkit-mask-repeat: no-repeat;
}

.m-b-20 div  {
  /* Decorative Border */
  border-style: var(--borderStyle);
  border-image-source: var(--borderImg);
  border-image-slice: var(--borderSlice);
  border-image-width: var(--borderSize);
  border-image-outset: var(--borderOffset);
  border-image-repeat: var(--SliceFill);
}



/*****************/
/*   ANIMATION    */
/*****************/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.page {
    /*Page Fade In*/
    -webkit-animation: fadein var(--pageFadeInTime); /* Safari, Chrome and Opera > 12.1 */
    -ms-animation: fadein var(--pageFadeInTime); /* Internet Explorer */
     animation: fadein var(--pageFadeInTime);
    /*Page Future anim.*/

}
