.user-css-presentation {
  /* Site Background */
  background: url(https://img4.goodfon.com/wallpaper/nbig/e/3e/nebo-oblaka-pole-savanna-priroda.jpg) ;
  background-repeat: no-repeat;
  background-size:  cover;
  background-attachment: fixed;
}

#cover img {
  /* Cover Image */
  content: url(https://i.pinimg.com/originals/a8/43/95/a8439505aa4192e8a5abb000535c43c7.jpg);

  /* Scale and Crop*/
  object-fit: cover;
  height: 550px;
  width: 100%;
  object-position: 0% 65%;
}

.page {
  /* Remove BG  */
  background: none
}

.page::after {
  /* Transparent Background Hack */
  background: url(/images/bg-dark.jpg);
  opacity: 0.87;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%
}

.page-article::before {
  /* Watermark Hack */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Mask Settings */
  background-color: rgba(219, 162, 55, .3);
  /*  image(url( ... ), #color)   if png/jpg i think, dont quote me  */
  -webkit-mask: url(https://upload.wikimedia.org/wikipedia/commons/6/6a/Claw_Marks.svg);
  mask: url(https://upload.wikimedia.org/wikipedia/commons/6/6a/Claw_Marks.svg);
  -webkit-mask-size: 40%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 25% 700px;
}

.m-b-20 div a img {
  /* Rough Photo Edge  */
  background-color: rgba(219, 162, 55, .5);
  -webkit-mask-image: url(http://i.imgur.com/9RJkL56.png);
  /* upload png (in INDEX COLOR MODE) to imgur, get link from source code (starts with i.imgur.com) */
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 110% 113%;
  /*-webkit-mask-position: 50% 50%*/
}

.m-b-20 div  {
  /* Decorative Border */
  border-color: orange;
  border-style: double;
  border-image: url(https://i.ya-webdesign.com/images/frames-and-borders-png-7.png)  
      47% 47% 47% 47%/    /*slice*/
     50/  /*size*/
     5   /*offset*/
      round round;

  /* 10% 10% 10% round */
  /*  50 50 50 50 round */
}
